.rooms-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.rooms-header {
  margin: 1rem 1rem;
}

.rooms-list {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  max-width: 600px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
}

.rooms-list-item {
  background-color: #f9f9f9;
  border-radius: 10px;
  color: black;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease;
}

.rooms-list-item:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #1a8cff;
  color: white;
}

.rooms-list-item h3 {
  font-size: 24px;
  margin: 0 0 10px 0;
}

.rooms-list-item p {
  font-size: 16px;
  margin: 0;
}

@media only screen and (max-width: 600px) {
  .rooms-list {
    grid-template-columns: 1fr;
  }
}

.room-details-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  z-index: 999; /* Higher z-index to appear above the container */
  display: flex;
  justify-content: center;
  align-items: center;
}

.room-details-form {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 90%;
  text-align: center;
}

.room-details-form h2 {
  margin-bottom: 10px;
}

.room-details-form p {
  margin: 5px 0;
}

.room-details-form .room-name {
  font-weight: bold;
}

.form-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}


#formButton{
  margin: 0 10px;
  padding: 8px 16px;
  border-radius: 4px;
  font-size: 14px;
  transition: background-color 0.3s ease; /* Smooth transition effect */

  /* Default button styles */
  background-color: #000000;
  color: #ffffff;
  border: none;
  cursor: pointer;
}


.form-buttons button {
  margin: 0 10px;
  padding: 8px 16px;
  border-radius: 4px;
  font-size: 14px;
  transition: background-color 0.3s ease; /* Smooth transition effect */

  /* Default button styles */
  background-color: #000000;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

.form-buttons button:hover {
  background-color: #a0a0a0; /* New background color on hover */
}

.close-button {
  background-color: #e0e0e;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #000000;
  color: white;

}

.room-details-form {
  background-color: #bcbcbc; /* New aesthetic background color */
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 90%;
  text-align: center;
  position: relative;
}

.subscription-status-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}


/* Add any additional styles as needed */
