.userProfileContainer {
  display: flex;
  flex-direction: row;
}

.settingsPane {
  float: left;
  width: 15rem;
  color: white;
  padding: 20px;
  height: 40rem;
  margin: 2rem 2rem;
  background-color: rgba(0, 0, 0, .25);
}

.settingsPane ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.settingsPane li {
  padding: 10px;
  cursor: pointer;
}

.settingsPane li:hover {
  background-color: #e0e0e0;
  color: black;
}

.contentPane {
  flex: 1;
  padding: 20px;
}

.pane-link {
  text-decoration: none;
  color: white;
}

.active {
  background-color: #e0e0e0;
  color: black;
}
