.createRoom {
    width: 100%;
    justify-content: center;
}

#selection {
    display: flex;
    gap: 2rem;
    margin: 2rem 3rem;
    padding: 2rem;
}

#createButton, #createRoomTitle {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}
.createRoom {
    width: 100%;
    justify-content: center;
}

#selection {
    display: flex;
    gap: 2rem;
    margin: 2rem 3rem;
    padding: 2rem;
}

#createButton, #createRoomTitle {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}