.createRoom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 2rem;
}

#createButton {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}