.password {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 2rem;
}

.required-field::after {
    content: "*";
    color: red;
}

#submit-button {
    margin-top: 2rem;
}